@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calendrier de la famille</h1>
    <p>Outil pour faciliter la gestion de l'horaire de chaque menbre de la famille</p>
</div>
